.bg-grad {
    background: -moz-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #2ab9a5));
    background: -webkit-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    background: -o-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    background: -ms-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    // background: linear-gradient(150deg, #000000 0%, #000000 100%);
    //  background: linear-gradient(150deg, #0049ff 0%, #b204ea 100%);
    //background: linear-gradient(150deg, #00040e 0%, #0495ea 100%);
    //background: linear-gradient(150deg, #000b40 0%, #1204ea 100%);
        background: linear-gradient(150deg, #0007dc 0%, #8704ea 100%);


}

.erudite_name *{
    fill: #002eae;
}

a {
    color: #242682;
    text-decoration: none;
    background-color: transparent;
}
.primary-hover a {
    color: #242682;
}
.primary-hover a:hover {
    color: #201bfb !important;
}
footer .widget {
    color: #242682;
    h6{
            font-weight: 600;
    font-size: 16px;
    color: #242682;
    }
}
a:hover {
    color: #201bfb;
    text-decoration: none;
}
.navbar-brand .navbar-brand-item {
    height: 50px;
    display: block;
    max-width: 100%;
    width: auto;
}

.sticky_logo {
    display: none;
}

.pattern-overlay-2::before {
    opacity: 0.3;
        background-position: center 77%;
}

@media (min-width: 992px) {
    .display-lg-4 {
        font-size: 3rem;
    }
}


.hero-content {
    padding-top: 10rem !important;
    padding-bottom: 3rem !important;
}

.btn-grad {
    padding: 10px 20px;
    font-size: 15px;
    // background: linear-gradient(150deg, #2ab9a5 0%, #00c4ff 50%, #04c3a0 100%);
   // background: #07c580;
}

.btn-grad.active,
.btn-grad:active,
.btn-grad:focus,
.btn-grad:hover {
    color: #ffffff;
    background-position: left bottom;
    background-color: #02a76b;
}


.home-service-box {
    padding: 30px 35px !important;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .feature-box-icon {
        margin-bottom: 15px;

        i {
            font-size: 50px;

            &::before {
                background: #868282;
                -webkit-background-clip: text;
            }
        }
    }

    &:hover {
        .feature-box-title {
            color: #0944de;
        }

        .feature-box-icon {
            i {
                &::before {
                    //background: linear-gradient(150deg, #fd38fd 0%, #0011dc 100%);
                    background: linear-gradient(150deg, #0c2aff 0%, #1245ff 100%);
                    -webkit-background-clip: text;
                }
            }
        }
    }

    p {
        color: #8f9397;
    }
}


.navbar-transparent.navbar-sticky.navbar-primary.navbar-sticky-on {
    background-color: #ffffff;

    .navbar-brand-item {
        display: none;
    }

    .sticky_logo {
        display: block;
        height: 27px;
        max-width: 100%;
        width: auto;
    }



    .navbar-nav {

        .nav-link {
            color: #000c65fa;
        }

        .nav-link.active {
            color: #1087de;
        }


    }


}


.navbar-primary .navbar-nav .show>.nav-link,
.navbar-primary .navbar-nav .active>.nav-link,
.navbar-primary .navbar-nav .nav-link.show,
.navbar-primary .navbar-nav .nav-link.active {
    color: #ffffff;
}

header.navbar-sticky-on .navbar-nav .nav-link {
    line-height: 70px;
}


.navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar-primary .navbar-nav .nav-link:hover,
.navbar-primary .navbar-nav .nav-link:focus {
    color: #24a3ff;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #1934ff;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #1934ff;
}

.nav-media {
    .media-left {
        margin-right: 15px;

        i {
            font-size: 35px;
        }
    }

    .media-body {
        h2 {
            font-size: 15px;
            margin-bottom: 5px;
            color: #242682;
        }

    }
}

.topnav-call-to-action {
    padding: 20px;
}

.service-dropdown {
    padding-top: 30px;

    .dropdown-item{
        color: #242682 !important;
    }
}

.bg-primary {
    background-color: #00afe9 !important;
}


.media-dropdown {
    li {
        a.dropdown-item {
            &:hover {
                h2 {
                    color: #201bfb !important;
                }
                color: #201bfb !important;
            }
        }
    }
}

.list-group-icon-primary-bg i {
    background: #c3c2ff;
    color: #290dff;
}
.list-group-borderless .list-group-item {
    border: none;
    color: #242682;
    padding: 0.470rem 0;
    font-weight: 500;
}
.navbar-nav .dropdown-menu:before {
    background: -moz-linear-gradient(150deg, #00afe9 0%, #6f159f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00afe9), color-stop(100%, #6f159f));
    background: -webkit-linear-gradient(150deg, #00afe9 0%, #6f159f 100%);
    background: -o-linear-gradient(150deg, #00afe9 0%, #6f159f 100%);
    background: -ms-linear-gradient(150deg, #00afe9 0%, #6f159f 100%);
    background: linear-gradient(150deg, #00afe9 0%, #6f159f 100%);

}


.icon-grad i:before {
background: linear-gradient(150deg, #0e37ff 0%, #001bdc 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-fill-color: transparent;
}


.bg-action-grad {
    background: -moz-linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0007dc), color-stop(100%, #8704ea));
    background: -webkit-linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
    background: -o-linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
    background: -ms-linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
    background: linear-gradient(150deg, #0007dc 0%, #8704ea 100%);

    .text-primary {
    color: #00fdff !important;
}
}


.footer-logo-group path {
    fill: #002eae;
}


.footer-logo {
    svg {
        height: 50px;
        max-width: 100%;
    }
}


.dp-menu {
    li {
        a {
            color: #252525 !important;
            padding: 10px 25px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #e4e4e4;
                color: #000 !important;
            }
        }
    }
}


// .megamenu .dropdown-menu {
//     width: 1054px;
//     margin: 0 auto;
//     left: 100px;
//     right: 0;
//     padding: 1.5rem 0;
// }


.about-section {
    padding-top: 15rem;
}


.bg-overlay-dark-2.why-us-bg:before {
    //background: rgba(0, 0, 0, 0.53);
    // background: linear-gradient(150deg, #000b40 0%, #1204ea 100%);
        background: linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
         opacity: 0.8;
}

.why-us-bg{
        -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}


.contact-form-container{

     .container{
            padding-right: 100px;
    padding-left: 100px;
     }
}

@media (min-width: 992px)
{
    .contact-form-container {
    margin-top: -20rem !important;
}
}


.contact-title{
        margin-top: -100px !important;
            margin-left: -115px;

            p{
                font-size: 30px;
            }
            .list-unstyled{
                display: flex;
                flex-direction: row;
            }
}


.service-title-quote{
    font-size: 40px;
    line-height: 1.5;
}

.fs-15{
    font-size: 15px;
}


.service-info{
     h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

}


.innerpage-banner h1 {
    font-size: 4.1875rem;
    font-weight: 600;
}

.product-dev-bg{
    height: 60vh;
    background-size: cover !important;
    background-position: center 40% !important;
        display: flex;
    align-items: center;


}
    .product-title {
    font-size: 3.5rem !important;
    font-weight: 600;
    padding-top: 60px;
}

.text-primary {
    color: #0944de !important;
}


.website-development{
    background: linear-gradient(150deg, #0007dc8a 0%, #4404ea 100%) !important;
}

.tech-box{
    padding: 40px 15px;
        border: 1px solid #c0d2e0;
    border-radius: 3px;
    img{
            height: 45px;
    margin-bottom: 25px;
    }
}


.action-form-box{
        background-color: #F1F4F5;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
}


.service-img{
        max-width: 85%;
    height: auto;
}



/* Service Feature List */

$service-bg-color:#c3c2ff;
$service-bg-box-shadow:#c4c3ff;
$bg-white:#ffffff;
$service-icon-color:#1d13ff;

.service-icon-div{
        width: 250px;
    height: 250px;
    background-color: $service-bg-color;
    border-radius: 50%;
    opacity: 0.98;
    box-shadow: 0px 0px 115px $service-bg-box-shadow;
    position: relative;
    display: inline-block;

    .icon-circle{
            width: 200px;
            height: 200px;;
            background-color: $bg-white;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

    }
}

            .webdev-icon-image{
                svg{
                  width: 60px;
                   height: 80px;
                    fill: $service-icon-color;
                }

            }

.service-subtitle{
    margin: 43px 0px;
    color: #93a4b9;
    font-size: 26px !important;
}

.pos-relative{
    position:relative;
}

.mobile-bg{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 50%;
}

.max-width-86{
    max-width:86%;
}

.title-thin{
    font-size: 2rem !important;
    font-weight: 100 !important;
}

.custom-software-card{
        background-color: #f8fafb;
            padding: 35px 50px !important;
    margin: 30px;
}
.bg-dark {
    background-color: #071f71 !important;
}

.primary-border-left-dotted {
    border-left: dashed 1px #0fdaff;
}


.ux-hero{
    margin-top: -100px;
}

.ux-hero-image{
    position: absolute;
    right: 150px;
    top: 45px;
    z-index: 500;
    width: 31%;
}


.height-500{
    height: 500px;
}


.bg-overlay-dark-7:before {
    background: rgba(10, 34, 218, 0.81);
    background: linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
    opacity: 0.7;
}


.bg-overlay-dark-5:before {
 background: linear-gradient(150deg, #0007dc 0%, #8704ea 100%);
    opacity: 0.7;
}

::selection {
    color: #ffffff;
    background: #d2d2d2;
}

.icon-primary i:before {
    color: #1450ef;
}


.z-index-500{
    z-index: 500 !important;
}


.health-care-bg:before {
  background: rgba(0, 125, 154, 0.74);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-healthcare {
      background-color: #005675 !important;
}


.text-healthcare{
        font-size: 30px;
    color: #058 !important;
}


.healthcare-box{
    .feature-box-title {
    font-size: 15px;
    }

    .healthcare-icon{
            height: 50px;
    }
}


.industry-title-light{
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #788086;
}
/* ------------------Transport---------- */

.transport-bg:before {
    background: rgba(95, 66, 0, 0.74);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;

}


.bg-transport {
    background-color: #96521a !important;
}

.text-transport{
        font-size: 30px;
    color: #dc5d00 !important;
}
